body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff 10%, #84e6c4 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.input {
    width: 100%;
    padding: 10px;
    border: 2px solid #aeaeec;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-top: 10px ;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #5151E5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #39f458;
}

h1 {
    color: #000000;
    margin-bottom: 20px;
}

.li {
    padding: 4px 8px;
    background: white;
    border: 1px solid brown;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 100%;
    text-transform: capitalize;
    gap: 10px;
}

.li-active {
        background-color: greenyellow;
        text-decoration: line-through;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.result {
    margin-bottom: 50px;
}

.wrap {
    width: 300px;
    margin: auto;
}

.btn {
    background: #f44242;
    border: none;
    color: white;
    margin-left: 15px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    display: inline-flex;
}

.hide   {
    display: none;
}

.search {
        width: 100%;
        padding: 10px;
        border: 2px solid #f18a8a;
        border-radius: 5px;
        font-size: 16px;
        display: inline-flex
}

.searchText{
    color: #000000;
    margin-bottom: 20px;
}

.searchIcon{
    width: 30px;
    height: 30px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.todo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.todoIcon{
    width: 30px;
    height: 30px;
}
.editBtn {
    background: #41b1f3;
    border: none;
    color: white;
    margin-left: 15px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    display: inline-flex;
}

.checkbox {
    margin-right: 10px;
}